/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";
*{
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
/* $colors: (
  text: #000,
  background: #BBBBBB,
  linearFirst: #05DDCC,
  linearSecond: #934CF5
);

$colors-dark: (
  text: map-get($colors, #fff),
  background: map-get($colors, text)
);

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html, body{
  box-sizing: border-box;
  height: 100%;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
$small-p: 8pt;
$medium-p: 10pt;
$large-p: 16pt;
$small-h1: 14pt;
$medium-h1: 16pt;
$large-h1: 21pt;
.page{
  transition: .6s ease;
}
header{
  color: #fff;
}
p{
  transition: 1s ease;
}
section{
  transition: 1s ease;
}
.background-image{
  color: #fff;
}
main{
  background: url("./../../public/img/Geometric/ampulheta.png")  no-repeat right bottom 25%;
  transition: 1s ease;
}

.background-image{
  background-image: url("./../../public/img/Background/Computer-First.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
header{
  background-color: #0a0333;
  z-index: 30;
}
.aly-vic{
  background: linear-gradient(90deg, #7603CF 0%, #05DDCC 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.vl{
  border-left: 1px solid;
  height: 50%;
  width: 1px;
  margin: 0;
  padding: 0;
  border-image-slice: 1;
  border-image-source: linear-gradient(to bottom,  #934CF5, #05DDCC);
}
.vlBlank{
  border-left: 1.5px solid;
  width: 1px;
  //border-color: #fff;
}

.botao{
  background: linear-gradient(to left, #934CF5 50%, #05DDCC 90%);
  padding: .4rem;
  margin-top: 1rem;
  border-radius: 4px;
  transition: 0.8s;
  flex: 1 1 auto;
  background-size: 150% auto;
}
.botao:hover{
  background-position: right bottom;
  animation: button-transition 2s ease infinite;
}
.texto{
  margin: 0;
}
.foto-container{
  width: 100%;
}
.who-am-i{
  max-width: 50%;
}
.retangulo{
  z-index: 0;
  padding-left: 2rem;
  height: 100%;
}
.foto-perfil{
  width: 70%;
}
.services{
  overflow: hidden;
  max-width:100%;
  width: 100%;
}
.service-items{
  min-width: 18rem;
}
.skills{
  max-width: 100vw;
}
.site-aline-container{
  background: url("./../../public/img/Projetos/aline-home.png");
  border: 2.5px solid;
  border-radius: 5px;
  width: 80vw;
  background-size: cover;
  background-position: center;
  aspect-ratio: 16/10;

  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  transition: 3s ease;
}
.git-container{
  display: flex;
  width: 10%;
  transition: 1s ease-out;
}
.site-aline-container:hover{
  align-items: center;
  justify-content: center;
  transition: 3s ease;
  .git-container{
    width: 40%;
  }
}

/* .git-projeto:hover{
  width: 40%;
} */

.projetos{
  max-width: 100vw;
}
.projeto1{
  background-image: url("./../../public/img/Projetos/Syml.png");
  background-size: cover;
  background-position: center;
  aspect-ratio: 16/9;
}
.projeto2{
  background-image: url("./../../public/img/Projetos/Aline.png");
  background-size: cover;
  background-position: center;
  aspect-ratio: 16/10;
}
.projeto3{
  background-image: url("./../../public/img/Projetos/Maternidade.png");
  background-size: cover;
  background-position: center;
  aspect-ratio: 16/10;
}


.contato-container{
  width: 100%;
  background: url("./../../public/img/Contato/notebookCrop.png") no-repeat right bottom;
  background-size: 40rem;
  background-position: right 20% bottom;
  padding-bottom: 10rem;
} 
.contato, .texto{
  max-width: 80%;
}


.dark{
  @apply bg-black;
}

//scroll effect
.reveal {
  opacity: 0;
  transform: translateY(80px);
  transition: opacity 1.2s ease-out, transform 1.2s ease-out;
  //margin: 20px 0;
  //background: #fff;
  //padding: 20px;
  //border-radius: 8px;
  //box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Classe para revelar elementos */
.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

/*  @media(color-scheme: dark){
  .contato-container{
    width: 100%;
    background: url("./../../public/img/Contato/notebookCrop.png") no-repeat right bottom;
    background-size: 40rem;
    background-position: right 20% bottom;
    padding-bottom: 10rem;
  }
  body{
    background-color: #000;
  }
}
@media(prefers-color-scheme: dark){
  .contato-container{
    width: 100%;
    background: url("./../../public/img/Contato/notebookCrop.png") no-repeat right bottom;
    background-size: 40rem;
    background-position: right 20% bottom;
    padding-bottom: 10rem;
  }
  body{
    background-color: #000;
  }
}  */


@media(max-width: 1024px){
  .skill-item{
    margin-left: .4rem;
    margin-right: .4rem;
    max-width: 4rem;    
  }
  .projeto1{
    padding: 3rem;
  }
  .projeto2{
    padding: 3rem;
  }
  .projeto3{
    padding: 3rem;
  }
}

@media(max-width: 768px){
  h1{
    font-size: $medium-h1;
  }
  p{
    font-size: $medium-p;
  }
  .vl{
    display: none;
  }
  .retangulo{
    padding-left: 1.5rem;
  }
  .skill-item{
    margin-left: .2rem;
    margin-right: .2rem;
    max-width: 3rem;
  }
  .projeto1{
    padding: 3rem;
  }
  .projeto2{
    padding: 3rem;
  }
  .projeto3{
    padding: 3rem;
  }
}

@media(max-width: 480px){
  .header{
    visibility: hidden;
  }
  header{
    background-color: #00000000;
  }
  h1{
    font-size: $small-h1;
  }
  p{
    font-size: $small-p;
  }
  main{
    background: url("./../../public/img/Geometric/ampulheta-crop.png")  no-repeat right bottom 25%;
  }
  .retangulo{
    top: 0;
    padding-left: 1rem;
  }
  .who-am-i{
    max-width: 50%;
  }
  .foto-perfil{
    width: 70%;
  }
  .skill-item{
    margin-left: .02rem;
    margin-right: .02rem;
    max-width: 2.5rem;
  }
  .projeto1{
    padding: 1rem;
  }
  .projeto2{
    padding: 1rem;
  }
  .projeto3{
    padding: 1rem;
  }
  .contato-container{
    background-size: 20rem;
    background-position: right 20% bottom;
    padding-bottom: 0rem;
  }
}

@keyframes button-transition{
  0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



